<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	    {% block title %}
    <title>
       {% if entity.getMetatitle is defined %}
       {% if entity.getMetatitle is not empty %}
            {{ entity.getMetatitle }}
        {% else %}
           Магазин игрушек
        {% endif %}  
       {% endif %}    
    </title>
    {% endblock %}
        {% block css %}
            <link rel="stylesheet" href="{{ asset ( 'bundles/kidssite/css/all.css' ) }}" type="text/css" />
            <link rel="stylesheet" href="{{ asset ( 'bundles/kidssite/css/jquery.fancybox.css' ) }}" type="text/css" />
            <link rel="stylesheet" href="{{ asset ( 'bundles/kidssite/css/jquery-ui-1.9.1.custom.css' ) }}"/>
        {% endblock %}
        {% block javascript %}
            <script type="text/javascript" src="{{ asset ( 'bundles/kidssite/js/autoscaling-menu.js' ) }}"></script>
            <script type="text/javascript" src="{{ asset ( 'bundles/kidssite/js/clear-form-fields.js' ) }}"></script>
            <script type="text/javascript" src="{{ asset ( 'bundles/kidssite/js/jquery-1.9.1.min.js' ) }}"></script>
            <script type="text/javascript" src="{{ asset ( 'bundles/kidssite/js/jquery-ui-1.9.2.custom.min.js' ) }}"></script>
            <script type="text/javascript" src="{{ asset ( 'bundles/kidssite/js/jquery.jscrollpane.min.js' ) }}"></script>
            <script type="text/javascript" src="{{ asset ( 'bundles/kidssite/js/jquery.mousewheel.js' ) }}"></script>
            <script type="text/javascript" src="{{ asset ( 'bundles/kidssite/js/ui.js' ) }}"></script>
            <script type="text/javascript" src="{{ asset ( 'bundles/kidssite/js/ui.checkbox-radio.js' ) }}"></script>
            <script type="text/javascript" src="{{ asset ( 'bundles/kidssite/js/jquery.main.js' ) }}"></script>
          {#  <script type="text/javascript" src="{{ asset ( 'bundles/kidssite/js/content.js' ) }}"></script>#}
            <script src="{{ asset ( 'bundles/itcadmin/js/plugins/jquery-ui-1.9.1.custom.js' ) }}" ></script>
            <script src="{{ asset ( 'bundles/itcadmin/js/plugins/jquery-ui-1.9.1.custom.min.js' ) }}" ></script>
            <script type="text/javascript" src="{{ asset ( 'bundles/kidssite/js/jquery.fancybox.pack.js' ) }}"></script>
            
	{% endblock %}
</head>
<body>
	<div id="wrapper">
		<a class="side-help" href="#"><strong>Need help?</strong><br />Just ask bobi :)</a>
		<header id="header">
			<a class="logo" href="{{ path('index') }}">Bobi Store</a>
			{% block menu %}
                            {% set routing = "index" %}
                            {% render "MainSiteBundle:Default:menu" with {"routing" : routing, "req" : app.request}  %}
                        {% endblock %}  
                        {% render "KidsSiteBundle:Catalog:SmallCart" %}
			{% include 'KidsSiteBundle:Catalog:SearchBlock.html.twig' %}
		</header>
		<section id="main">
			<section id="content">
				{% block body %}
                                {% endblock %}
                                {% render "KidsSiteBundle:Catalog:GalaryImages" %}
				{% block footer %}
                                    {% include 'KidsSiteBundle:Default:footer.html.twig' %}
                                {% endblock %}
			</section>
			<aside id="side-bar">
                                    {% render 'MainSiteBundle:Catalog:CategoriesBlock' %}
                                    {% render 'KidsSiteBundle:Catalog:SliderBlock' %}
                                    {% include 'KidsSiteBundle:Default:socialRightBlock.html.twig' %}
				
			</aside>
		</section>
	</div>
        

<div id="enter-login" class="popup-holder">
    {% render "KidsSiteBundle:Security:login" %}
</div>

</body>
</html>