{% extends 'KidsSiteBundle::layout.html.twig' %}
{% block title %}
    <title>Информация о доставке</title>
{% endblock %}
{% block body %}
<ul class="inner-nav">
        <li><a href="{{ path('cart') }}">Корзина</a></li>
        <li><a class="account" href="{{ path('usercabinet') }}">Аккаунт</a></li>
        <li><a href="{{ path('wish_list') }}">Желания</a></li>
        <li><a href="{{ path('user_orders') }}">Заказы</a></li>
        <li><a href="{{ path('user_own_comments') }}">Просмотр</a></li>
        <li><a href="{{ path('usercabinet_info') }}">Настройки</a></li>
</ul>
<div class="dividing-line">&nbsp;</div>
<div class="progress-wrapper">
       <script>
           function setSession(){
               array={}
               array['bill']={};
               array['ship']={};
               var bill = $('#bill_addr .ui-selectmenu-status').html()
               var ship = $('#ship_addr .ui-selectmenu-status').html()
               if(bill!='Адреса'){
                   $('#bill_addr select option').each(function(){
                       if(bill==$(this).html())
                           array['bill']['id']=$(this).val();
                    })
               }
               else{
                $("#bill_addr input[type='text'], #bill_addr input[type='number'] ").each(function(){
                   array['bill'][$(this).attr('id')]=$(this).val();
                });
                }
                 if(ship!='Адреса'){
                   $('#ship_addr  select option').each(function(){
                       if(ship==$(this).html())
                           array['ship']['id']=$(this).val();
                    })
               }
               else{
                $("#ship_addr  input[type='text'], #ship_addr input[type='number']").each(function(index){
                    array['ship'][$(this).attr('id')]=$(this).val();
                });
                }
                var json = JSON.stringify(array);
                
                
              $('#session_arr').val(json);  
              $('.valera').submit();
            }
    </script>
    <form action="{{ path('user_add_session') }}" method="post" class="order-form valera">
        <input type="hidden" id="session_arr" name="session_arr"/>
        <input type="hidden" id="send" name="send" value='shipp_method'/>
    </form>  
                    {% if auth!=0 %}   
                    <a class="big-purple-btn" href="#" onclick='setSession()'>
                        <span>Продолжить...</span>
                    </a>
                    {% endif %}
        <h1>Заказ</h1>
        <ul class="progress step1">
                <li class="col1">1. Куда доставить?</li>
                <li class="col2">2. Метод доставки</li>
                <li class="col3">3. Метод оплаты</li>
                <li class="col4">4. Просмотр заказа</li>
        </ul>
</div>
<div class="two-box">
        {% if auth==0 %}
            <div class="dividing-line">&nbsp;</div>
				<div class="my-ticket">
					<div class="ticket-wrap">
						<h2>Уведомление!</h2>
						<div class="description">
							<p>Для того что бы вы смогли сделать заказ на нашем сайте</p>
						</div>
						<div class="note">
							<p><em> Вам нужно пройти 
                                                            <a class="opener-register" href="{{ path('registration') }}">Регестрацию</a> <br />
                                                            или войти под своим <a href="#" onclick="$('.opener-login').trigger('click')">логином</a>
                                                            </em></p>
						</div>
					</div>
				</div>
        {% else %}
        <div class="col">
                <h3 class="title-box">Адрес регистрации</h3>
                <form action="{{ path('user_addr_create_site') }}" method="post" id="bill_addr"  {{ form_enctype(form) }}  class="order-form bill_addr">
                    <input type="hidden" name="types" value="reg"/>
                        <fieldset>
                               <h4>Книга адрессов: </h4>
                                <div class="select-row">
                                        <select>
                                                <option title="title">Адреса</option>
                                                {% for value in address %}
                                                    <option value="{{ value.id }}">{{ value.city  }} {{ value.street  }} {{ value.hnum }}</option>
                                                {% endfor %}
                                        </select>
                                </div>
                                <div class="row">
                                        <label>Полное имя</label>
                                        <div class="holder">
                                                <label class="input-wrap">{{ form_widget(form.fio) }}</label>
                                        </div>
                                </div>
                                <div class="row">
                                        <label>Дом номер</label>
                                        <div class="holder">
                                                <label class="input-wrap">{{ form_widget(form.h_num) }}</label>
                                        </div>
                                </div>
                                <div class="row">
                                        <label>Улица</label>
                                        <div class="holder">
                                                <label class="input-wrap">{{ form_widget(form.street) }}</label>
                                        </div>
                                </div>
                                <div class="wrap-row">
                                        <div class="row">
                                                <label>Город</label>
                                                <div class="holder">
                                                        <label class="input-wrap">{{ form_widget(form.city) }}</label>
                                                </div>
                                        </div>
                                        <div class="row">
                                                <label>Почтовый индекс</label>
                                                <div class="holder">
                                                        <label class="input-wrap">{{ form_widget(form.postcode) }}</label>
                                                </div>
                                        </div>
                                        <div class="row">
                                                <label>Регион</label>
                                                <div class="holder">
                                                        <label class="input-wrap">{{ form_widget(form.state) }}</label>
                                                </div>
                                        </div>
                                </div>
                                {{ form_widget(form._token) }}
                                 <div class="btn-row">
                                        <span class="blue-btn"><span>Сохранить</span><input type="submit" value="Save Address" title="Save Address" /></span>
                                </div>
                        </fieldset>
                </form>
        </div>
        <div class="col">
                <h3 class="title-box">Адрес доставки</h3>
                 <form action="{{ path('user_addr_create_site') }}" method="post" id="ship_addr"  {{ form_enctype(form1) }}  class="order-form ship_addr">
                     <input type="hidden" name="types" value="ship"/>
                        <fieldset>
                                <h4>Книга адресов: </h4>
                                <div class="select-row">
                                        <select>
                                                <option title="title">Адреса</option>
                                                {% for value in address %}
                                                    <option value="{{ value.id }}">{{ value.city  }} {{ value.street  }} {{ value.hnum }}</option>
                                                {% endfor %}
                                        </select>
                                </div>
                                <div class="row">
                                        <label>Полное имя</label>
                                        <div class="holder">
                                                <label class="input-wrap">{{ form_widget(form1.fio) }}</label>
                                        </div>
                                </div>
                                <div class="row">
                                        <label>Дом номер</label>
                                        <div class="holder">
                                                <label class="input-wrap">{{ form_widget(form1.h_num) }}</label>
                                        </div>
                                </div>
                                <div class="row">
                                        <label>Улица</label>
                                        <div class="holder">
                                                <label class="input-wrap">{{ form_widget(form1.street) }}</label>
                                        </div>
                                </div>
                                <div class="wrap-row">
                                        <div class="row">
                                                <label>Город</label>
                                                <div class="holder">
                                                        <label class="input-wrap">{{ form_widget(form1.city) }}</label>
                                                </div>
                                        </div>
                                        <div class="row">
                                                <label>Почтовый индекс</label>
                                                <div class="holder">
                                                        <label class="input-wrap">{{ form_widget(form1.postcode) }}</label>
                                                </div>
                                        </div>
                                        <div class="row">
                                                <label>Регион</label>
                                                <div class="holder">
                                                        <label class="input-wrap">{{ form_widget(form1.state) }}</label>
                                                </div>
                                        </div>
                                        
                                {{ form_widget(form1._token) }}
                                </div>
                                 <div class="btn-row">
                                        <span class="blue-btn"><span>Сохранить</span><input type="submit" value="Save Address" title="Save Address" /></span>
                                </div>
                        </fieldset>
                </form>
        </div>
        {% endif %}
</div>
{% endblock %}
