{% extends 'KidsSiteBundle::layout.html.twig' %}
{% block title %}
    <title>Предпросмотр</title>
{% endblock %}
{% block body %}
<ul class="inner-nav">
        <li><a href="{{ path('cart') }}">Корзина</a></li>
        <li><a class="account" href="{{ path('usercabinet') }}">Аккаунт</a></li>
        <li><a href="{{ path('wish_list') }}">Желания</a></li>
        <li><a href="{{ path('user_orders') }}">Заказы</a></li>
        <li><a href="{{ path('user_orders') }}">Просмотр</a></li>
        <li><a href="{{ path('usercabinet_info') }}">Настройки</a></li>
</ul>

<div class="dividing-line">&nbsp;</div>
<div class="progress-wrapper">
        <h1>Заказ</h1>
        <ul class="progress step4">
                <li class="col1">1. Куда доставить?</li>
                <li class="col2">2. Метод доставки</li>
                <li class="col3">3. Метод оплаты</li>
                <li class="col4">4. Просмотр заказа</li>
        </ul>
</div>
<div class="one-box">
                <h3 class="title-box">Предпросмотр заказа</h3>
                <div action="#" class="review-wrap">
                        <div class="table-wrap">
                                <table class="table">
                                        <tr>
                                                <th class="col1">No.</th>
                                                <th>Название</th>
                                                <th class="col2 center">Количество</th>
                                                <th class="col3">Цена</th>
                                        </tr>
                                        {% for pdl in lines %}
                                        {% set class %}
                                            {% if loop.index % 2 == 1 %}
                                                   even
                                                   {% else %}
                                            {% endif %}
                                        {% endset %}
                                <tr class="{{ class }}">
                                        <td>{{ pdl.id }}</td>
                                        <td>{{ product[pdl.id].title }}</td>
                                        <td class="center">{{ pdl.summa2 }}</td>
                                        <td>{{ pdl.summa1|number_format('2',',','.') }} P</td>
                                </tr>
                                {% endfor %}
                                </table>
                        </div>
                        <div class="bottom-row">
                                <div class="total-col">
                                        <table>
                                                <tr>
                                                        <td>Итого:</td>
                                                        <td>P {{ total_price|number_format(2, '.', ',') }}</td>
                                                </tr>
                                                <tr>
                                                        <td>Доставка</td>
                                                        <td>+ P {{ ship_meth.price|number_format(2, '.', ',') }}</td>
                                                </tr>
                                                <tr>
                                                        <td>Всего</td>
                                                        <td>P {{ (total_price+ship_meth.price)|number_format(2, '.', ',') }}</td>
                                                </tr>
                                        </table>
                                        {% if pay.id != 1 %}
                                            {% render 'PayPaymentBundle:Payment/PaymentOperation:CreatePayment' with {"id" : pay.id, "send_id" : id} %}
                                        {% else %}
                                        <a href="{{ path('checkout_method', {'id':id}) }}" >
                                            <span class="big-purple-btn">
                                                <span>Заказать</span>
                                            </span>
                                        </a>
                                        {% endif %}
                                </div>
                                <div class="address-wrap">
                                        <div class="holder">
                                                <div class="col">
                                                        <header>Фактический адресс</header>
                                                        <ul class="list">
                                                                <li>{{ bill.fio }}</li>
                                                                <li>{{ bill.street }}, 
                                                                    {% if bill.h_num is defined %}
                                                                        {{ bill.h_num }}
                                                                        {% else %}
                                                                        {{ bill.hnum }}
                                                                    {% endif %}
                                                                </li>
                                                                <li>{{ bill.city }}</li>
                                                                <li>{{ bill.postcode }}</li>
                                                                <li>{{ bill.state }}</li>
                                                        </ul>
                                                </div>
                                                <div class="col">
                                                        <header>Адресс доставки</header>
                                                        <ul class="list">
                                                                <li>{{ ship.fio }}</li>
                                                                <li>{{ ship.street }},
                                                                    {% if ship.h_num is defined %}
                                                                        {{ ship.h_num }}
                                                                        {% else %}
                                                                        {{ ship.hnum }}
                                                                    {% endif %}
                                                                </li>
                                                                <li>{{ ship.city }}</li>
                                                                <li>{{ ship.postcode }}</li>
                                                                <li>{{ ship.state }}</li>
                                                        </ul>
                                                </div>
                                        </div>
                                        <div class="payment-method">
                                                <header>Метод оплаты</header>
                                                <div class="row">
                                                        <label>
                                                            <input type="radio" name="group-03" class="radio" checked="checked" />
                                                            {% if pay.icon is not empty %}
                                                                <img style="margin:6px 0 0 7px;" src="{{ vich_uploader_asset(pay, 'iconImage') }}" width="27" height="20" alt="" />
                                                            {% endif %}
                                                            <strong>{{ pay.company }}</strong>
                                                        </label>
                                                </div>
                                        </div>
                                </div>
                        </div>
                </div>
        </div>
{% endblock %}
