{% extends 'KidsSiteBundle::layout.html.twig' %}
{% block title %}
    <title>Корзина</title>
{% endblock %}
{% block body %}
<ul class="inner-nav">
        <li  class="active"><a href="{{ path('cart') }}">Корзина</a></li>
        <li><a class="account" href="{{ path('usercabinet') }}">Аккаунт</a></li>
        <li><a href="{{ path('wish_list') }}">Желания</a></li>
        <li><a href="{{ path('user_orders') }}">Заказы</a></li>
        <li><a href="{{ path('user_orders') }}">Просмотр</a></li>
        <li><a href="{{ path('usercabinet_info') }}">Настройки</a></li>
</ul>
<div class="dividing-line">&nbsp;</div>
<div class="heading-wrapper">
        <h1>Моя Bobi корзина</h1>
       {% if products|length() > 0 %} <a class="big-purple-btn" href="{{ path('customer') }}"><span>Заказать</span></a>{% endif %}
</div>
{% if products|length() > 0 %}
<form action="{{ path('update_cart_mass') }}" class="review-wrap basket-review" method="post">
        <div class="table-wrap">
                <table class="table">
                        <tr>
                                <th class="center" colspan="3">Название</th>
                                <th class="col2 center">Количество</th>
                                <th class="col3">Цена</th>
                        </tr>
                        {% for product in products %}
                                        {% set class %}
                                            {% if loop.index % 2 == 1 %}
                                                   even
                                                   {% else %}
                                            {% endif %}
                                        {% endset %}
                        <tr class="{{ class }}">
                                <td>
                                        <div class="item-wrap">
                                                <div class="visual">
                                                    {% if product.icon is not empty %}
                                                        <img src="{{ vich_uploader_asset(product, 'iconImage') }}" width="46" height="46" alt="" />
                                                    {% endif %}
                                                </div>
                                                <div class="text">
                                                        <strong>{{ product.title }}</strong>
                                                </div>
                                        </div>
                                </td>
                                <td><a class="add-wishlist" href="{{ path('add_to_wish', {'id':product.id}) }}">В список желаний</a></td>
                                <td><a class="del" href="{{ path('remove_cart_item', {'id': product.id}) }}">Удалить</a></td>
                                <td>
                                        <div class="up-down">
                                                <input type="text" name="{{ product.id }}" value="{{ cart[product.id].amount }}" />
                                                <a class="up" href="#">up</a>
                                                <a class="down" href="#">down</a>
                                        </div>
                                </td>
                                <td><strong>P {{ product.price }} <span class="rouble">i</span></strong></td>
                        </tr>
                        {% endfor %}
                        <tr class="total-row">
                                <td>
                                   <a class="update-table" href="#" onclick="$('.basket-review').submit()">Обновить корзину</a>
                                </td>
                                <td>{#<a class="add-wishlist" href="#">Все в список желаний</a>#}</td>
                                <td><a class="del" href="{{ path('main_site_cart_clear') }}">Очистить</a></td>
                                <td class="center">
                                        <span class="size14">Итого:</span>
                                </td>
                                <td><strong class="size14">{{ total_price|number_format(2, ',', '.') }}</strong></td>
                        </tr>
                </table>
        </div>
        <div class="bottom-row">
                <div class="total-col">
                        <table>
                                {#<tr>
                                        <td>Tax <br /><span class="size12">(VAT 15%)</span></td>
                                        <td><strong>+ P 899.00</strong></td>
                                </tr>
                                <tr>
                                        <td>Discount <br /><span class="size12">(10% off)</span></td>
                                        <td><strong>- P 899.00</strong></td>
                                </tr>
                                <tr>
                                        <td>Shipping</td>
                                        <td><strong>+ P 899.00</strong></td>
                                </tr>#}
                                <tr><td colspan="2"></td></tr>
                                <tr class="total">
                                        <td>Всего</td>
                                        <td> <span class="rouble">i</span> {{ total_price|number_format(2, ',', '.') }}</td>
                                </tr>
                        </table>
                        <a  href="{{ path('customer') }}">
                            <span class="big-purple-btn">
                                    <span>Заказать</span>
                                    <input type="button" title="Checkout" value="Checkout"/>
                            </span>
                        </a>
                </div>
                {#<div class="code-block">
                        <div class="col">
                                <header>Скидочный код</header>
                                Введите номер тут...
                                <label class="input-wrap"><input type="text" /></label>
                                <div class="btn-row">
                                        <span class="blue-btn"><span>Подтвердите код!</span><input type="button" value="Apply Discount" title="Apply Discount" /></span>
                                </div>
                        </div>
                        <div class="col">
                                <header>Подарочный сертификат</header>
                                Введите номер подарочного сертификата...
                                <label class="input-wrap"><input type="text" /></label>
                                <div class="btn-row">
                                        <span class="pink-btn"><span>Подтвердите код!</span><input type="button" value="Claim your gift!" title="Claim your gift!" /></span>
                                        <img src="images/pay10.png" width="56" alt="" />
                                </div>
                        </div>
                </div>#}
        </div>
</form>
{% else %}
<h2> Ваша корзина пуста! </h2>
{% endif %}
<div class="dividing-line">&nbsp;</div>
{% endblock %}
