{% import _self as list %}
<ul class="side-nav">
    {% for entity in entities %}
       {% if entity[0].parent=='' %}
       <li>
                <a class="opener" href="#"><span>{{ entity[0].title }}</span></a>
                <ul class="submenu">
                       {% for midle in entities %}
                        {% if midle[0].getParentId()==entity[0].id %}
                            <li>
                                    <a href="{{ path('catalog', {'translit':midle[0].translit}) }}" {{ list.class(midle[0].id, entities) }}><em>{{ midle.col }}</em><span>{{ midle[0].title }}</span></a>
                                    <ul class="submenu">
                                        {% for next in entities %}
                                        {% if next[0].getParentId()==midle[0].id %}
                                            <li>
                                                    <a href="{{ path('catalog', {'translit':next[0].translit}) }}"  {{ list.class(next[0].id, entities) }}><em>{{ next.col }}</em><span>{{ next[0].title }}</span></a>
                                                    <ul class="submenu">
                                                        {% for level4 in entities %}
                                                        {% if level4[0].getParentId()==next[0].id %}
                                                            <li>
                                                                    <a href="{{ path('catalog', {'translit':level4[0].translit}) }}"><em>{{ midle.col }}</em><span>{{ level4[0].title }}</span></a>
                                                            </li>
                                                        {% endif %}
                                                        {% endfor %}
                                                    </ul>
                                            </li>
                                        {% endif %}
                                        {% endfor %}
                                    </ul>
                            </li>
                            
                        {% endif %}
                       {% endfor %}
                </ul>
        </li>
     {% endif %}
    {% endfor %}
</ul>
{% macro class(id , entities) %}
    {% for entity in entities %}
    {% if entity[0].getParentId()==id %}
        class="inner-opener"
        {% else %}
    {% endif %}
    {% endfor %}
{% endmacro %}
{% macro count(id , entities) %}
    {% set counter = 1 %}
    {% for entity in entities %}
    {% if entity.parent_id==id %}
                {% for parent in entities %}
                    {% if parent.parent_id==entity.id %}
                {% set counter = counter + 1 %}
                {% else %}
                {% endif %}
                {% endfor %}
        {% set counter = counter + 1 %}
        {% else %}
    {% endif %}
    {% endfor %}
    {{ counter }}
{% endmacro %}