<div class="block block-cart">
        <div class="block-title">
        <strong><span>Новинки</span></strong>
    </div>
    <div class="block-content slider" id="slider">
         <ul>
            {% for entity in entities %}
                 <li><a href="{{ path('product', { 'translit': entity.translit }) }}" >
                    {% if entity.iconImage is not null %}
                        <img src = '{{ vich_uploader_asset(entity, 'iconImage') }}' width="180px" height="180px"/>
                    {% else %}
                        <img src = '{{ entity.smallIcon }}'  width="180px" height="180px"/>
                    {% endif %}</a><br />
                      <p class="empty product-name"><a href="{{ path('product', { 'translit': entity.translit }) }}" style="color:#FE5900; font-size:12px;">{{ entity.title }}<br /> цена: {{ entity.price }} <span class="rouble">i</span></a></p>
                    </li>
            {% endfor %}
         </ul>
    </div>
</div>