{% extends 'KidsSiteBundle::layout.html.twig' %} 
{% block body %}
	<div class="product-wrapper">
					<div class="visual-col">
						<div class="visual">
                                                {% if entity.ratio!='' %}
                                                    <span class="discount">{{ entity.ratio }}%</span>
                                                {% endif %}
                                                    {% if entity.icon is not empty %}
                                                    <img src="{{ vich_uploader_asset(entity, 'iconImage') }}" width="370" height="270" alt="" /></div>
                                                    {% endif %}
                                             {% if images|length > 0 %}
                                                <div class="min-gallery">
							<a class="prev" href="#">prev</a>
							<a class="next" href="#">next</a>
							<div class="gallery-wrap">
								<ul>
                                                                    {% for image in images %}
                                                                        <li>
                                                                            <a href="#">
                                                                                <img src="{{ vich_uploader_asset(image, 'smallImage') }}" width="88" height="64" alt="" />
                                                                            </a>
                                                                        </li>
                                                                    {% endfor %}
                                                                </ul>
							</div>
							<div class="num"><span class="active">1</span> | <span class="total">{{ images|length }}</span></div>
						</div>
                                            {% endif %}
					</div>
					<div class="product-info">
						<header>
							{#<div class="rating-wrap">
								<div class="rating-star"><span style="width:20%;">20%</span></div>
								<span class="reviews">Reviews: 175</span>
							</div>#}
							<h2>{{ entity.title }}</h2>
						</header>
						<section>
							<p>{{ entity.description }}</p>
						</section>
						<footer>
							<div class="row">
								<a href="{{path('add_to_cart', {'id':entity.id, 'amount': 1})}}" class="gray-btn add-bag">
                                                                    <span>В корзину<img src="/bundles/kidssite/images/bg-plus.png" width="17" height="17" alt="" /></span>
                                                                </a>
								<a class="add" href="{{ path('add_to_wish', {'id': entity.id}) }}">Желаю</a>
								<div class="price">{{ entity.price }}  <span class="rouble">i</span></div>
							</div>
							<div class="wrap">
								<div class="holder">
									<a class="mail" href="#">email</a>
									<a class="print" href="#">print</a>
								</div>
								<ul class="network">
									<li><!-- Put this script tag to the <head> of your page -->
                                                                        <script type="text/javascript" src="//vk.com/js/api/openapi.js?79"></script>

                                                                        <script type="text/javascript">
                                                                          VK.init({apiId: 3456230, onlyWidgets: true});
                                                                        </script>

                                                                        <!-- Put this div tag to the place, where the Like block will be -->
                                                                        <div id="vk_like"></div>
                                                                        <script type="text/javascript">
                                                                        VK.Widgets.Like("vk_like", {type: "mini"});
                                                                        </script></li>
									<li style="float:right; margin-top: -26px; margin-right: 5px;"><div id="fb-root"></div>
                                                                        <script>(function(d, s, id) {
                                                                          var js, fjs = d.getElementsByTagName(s)[0];
                                                                          if (d.getElementById(id)) return;
                                                                          js = d.createElement(s); js.id = id;
                                                                          js.src = "//connect.facebook.net/ru_RU/all.js#xfbml=1&appId=300556086705209";
                                                                          fjs.parentNode.insertBefore(js, fjs);
                                                                        }(document, 'script', 'facebook-jssdk'));</script>
                                                                            <div class="fb-like" data-href="http://demo2.qwer.com.ua" data-send="false" data-layout="button_count" data-width="150" data-show-faces="true"></div>
                                                                        
                                                                        </li>
								</ul>
							</div>
						</footer>
					</div>
				</div>
				<div class="tab-wrapper">
					<ul class="tab-set">
						<li class="active"><a href="#">Детали</a></li>
						<li><a href="#">Связаные товары</a></li>
						<li><a href="#">Коментарии</a></li>
					</ul>
					<div class="tab-wrap">
						<div class="tab">
							<div class="tab-content">
								<h3>{{ entity.title }}</h3>
								<div class="item-description">
                                                                    {{ entity.content|raw() }}
								</div>
								<div class="dividing-line">&nbsp;</div>
								<h4>Параметры</h4>
                                                       {% if product_attr|length > 0 %}
                                                            {% for attr in product_attr %}
                                                        <div class="item-description">
                                                            <div class="col">
                                                                    <h4>{{ attr.name }}:</h4>
                                                                    <ul>
                                                                     {% for value in attr_value %} 
                                                                            {% if value[0].getAttributeResourceId()==attr.resource %}
                                                                                {% if value[0].getTemplateId() is empty %}
                                                                                    <li>{{ value.name }}</li>
                                                                                    {% else %}
                                                                                    <li>{{ value.name }}</li>
                                                                                {% endif %}
                                                                            {% endif %}
                                                                     {% endfor %}
                                                                     </ul>
                                                               </div>
                                                        </div>
                                                        {% endfor %}
                                                        {% endif %} 
                                                       {#{% if attributs|length > 0 %}
                                                        <div class="item-description">
                                                            <div class="col">
                                                                {% for attr in attributs%}
                                                                    <h4>{{ attr.name }}:</h4>
                                                                    <ul>
                                                                        {% for val in attrval[attr.id]%}
                                                                            <li>{{ val.value }}</li>
                                                                        {% endfor %}
                                                                    </ul>
                                                                {% endfor %}
                                                            </div>
                                                        </div>
                                                        {% endif %}#}
                                                    </div>
						</div>
                    <div class="tab" style="display:none;">
                      {% if relatives|length > 0 %}  
                      <div class="tab-gallery">
                                <a class="prev" href="#">prev</a>
                                <a class="next" href="#">next</a>
		
                       <div class="tab-gallery-holder">
                        <ul style="margin-left: 0px;">
                            {% for entity in relatives %}
                                <li>
                                        <h3>{{ entity.title }}</h3>
                                        <p> {{ entity.description }}</p>
                                        <div  class="more"><a href="{{ path('products', { 'translit': entity.translit }) }}">далее</a></div>
                                        <div class="visual">
                                            {% if entity.ratio!='' %}
                                                <span class="discount">{{ entity.ratio }}%</span>
                                            {% endif %}
                                            {% if entity.iconImage is not null %}
                                                <img src = '{{ vich_uploader_asset(entity, 'iconImage') }}' alt="{{ entity.title }}" width="169" height="124"/>
                                            {% else %}
                                                <img src = '{{ entity.smallIcon }}' alt="{{ entity.title }}"  width="169" height="124"/>
                                            {% endif %}
                                        </div>
                                        {#<div class="rating-wrap">
                                                <div class="rating-star"><span style="width:70%;">70%</span></div>
                                                <span class="reviews">Reviews: 175</span>
                                        </div>#}
                                        <div class="price-holder">
                                                <a class="gray-btn" href="{{path('add_to_cart', {'id':entity.id, 'amount': 1})}}"><span>В корзину <img width="17" height="17" alt="" src="{{ asset('/bundles/kidssite/images/bg-plus.png') }}"/></span></a>
                                                <span class="price">{{ entity.price }} P</span>
                                        </div>
                                </li>
                                
                        {% endfor %}
                        </ul>
                </div>
		</div>
                {% endif %}				
            </div>
                                <div class="tab" style="display:none;">
                                        <div class="tab-content">
                                                <div class="comment-item">
                                                        {#<header>
                                                                <h3>Bertoni Monarello</h3>
                                                                <div class="row">
                                                                        <div class="visual">
                                                                                <img src="/bundles/kidssite/images/img04.jpg" width="164" height="120" alt="image description" />
                                                                        </div>
                                                                        <div class="center-col">
                                                                                <div class="title">AVERAGE CUSTOMER REVIEW</div>
                                                                                <div class="rating-wrap">
                                                                                        <div class="rating-star"><span style="width:70%;">70%</span></div>
                                                                                        <span class="reviews">Reviews: 175</span>
                                                                                </div>
                                                                                <div class="btn-title">Share your opinions here....</div>
                                                                                <a class="gray-btn add-comment" href="#"><span>Write your own review<img src="images/ico11.png" width="15" height="16" alt="" /></span></a>
                                                                        </div>
                                                                        <ul class="count-rating">
                                                                                <li class="num4">
                                                                                        <span class="num">5 star</span>
                                                                                        <div class="view"><span style="width:25%;">25%</span></div>
                                                                                        <span class="count">(50)</span>
                                                                                </li>
                                                                                <li class="num5">
                                                                                        <span class="num">4 star</span>
                                                                                        <div class="view"><span style="width:50%;">50%</span></div>
                                                                                        <span class="count">(200)</span>
                                                                                </li>
                                                                                <li class="num3">
                                                                                        <span class="num">3 star</span>
                                                                                        <div class="view"><span style="width:12.5%;">12.5%</span></div>
                                                                                        <span class="count">(25)</span>
                                                                                </li>
                                                                                <li class="num2">
                                                                                        <span class="num">2 star</span>
                                                                                        <div class="view"><span style="width:7.5%;">7.5%;</span></div>
                                                                                        <span class="count">(15)</span>
                                                                                </li>
                                                                                <li class="num1">
                                                                                        <span class="num">1 star</span>
                                                                                        <div class="view"><span style="width:5%;">5%</span></div>
                                                                                        <span class="count">(10)</span>
                                                                                </li>
                                                                        </ul>
                                                                </div>
                                                        </header>#}
<ul class="comment-list">
{% if comments|length > 0 %}
{% for comment in comments %}
    <li>
        <div class="hidden-wrap">
                <header>
                        <div class="date">{{ comment[0].data|date('m/d/y') }}</div>
                        <div class="title"></div>
                        <div class="holder">
                               {# <a class="up" href="#">952</a>
                                <a class="down" href="#">52</a>
                                <a class="num-comment" href="#">Comments (4)</a>#}
                        </div>
                </header>
                <section>
                        <div class="visual shadow"><img src="/bundles/kidssite/images/img08.jpg" width="73" height="73" alt="" /></div>
                        <div class="wrap">
                                <div class="name">{{ comment.fio }}</div>
                                <p>{{ comment[0].comment }}</p>
                        </div>
                </section>
        </div>
    </li>
{% endfor %}
{% endif %}
</ul>
 <form action="{{ path('user_comments_create', {id: entity.id}) }}" class="comment-form">
                <fieldset>
                        <div class="col">
                                <div class="img shadow">
                                        <img src="/bundles/kidssite/images/img08.jpg" width="73" height="73" alt="" />
                                </div>
                                <div class="name-wrap">
                                        <a class="opener-login" href="#"><img src="images/ico01.png" width="14" height="15" alt="" />log-in</a>
                                </div>
                                <div class="register-wrap">
                                        Зарегестрированы?<br />или
                                        <a class="opener-register" href="#">Регестрируйтесь</a>
                                </div>
                               {% if auth==1%} 
                                <span class="purple-btn"><span>Добавить</span><input type="submit" value="Add Comment" title="Add Comment" /></span>
                                {% endif %}
                            </div>
                        <div class="holder-form">
                                <h3>Добавить коментарий</h3>
                                <div class="row">
                                        <label>Коментарий</label>
                                        <div class="holder">
                                                <label class="textarea-wrap">
                                                    {{ form_widget(form.comment) }}
                                                </label>
                                        </div>
                                        {{ form_widget(form._token) }}
                                </div>
                                <div class="row">
                                        <label>&nbsp;</label>
                                        <div class="holder">
                                                <div class="v-log"><a href="#"><img src="images/bg-network08.jpg" width="200" height="63" alt="" /></a></div>
                                                <div class="f-log"><a href="#"><img src="images/bg-network07.jpg" width="68" height="22" alt="" /></a></div>
                                        </div>
                                </div>
                        </div>
                </fieldset>
        </form>
        </div>
</div>
                                        {#<div class="tab-paging">
                                                <div class="paging-wrap">
                                                        <a class="prev" href="#">&lt;</a>
                                                        <a href="#">1</a>
                                                        <a class="active" href="#">2</a>
                                                        <a href="#">3</a>
                                                        <a href="#">4</a>
                                                        <a href="#">5</a>
                                                        <a class="next active" href="#">&gt;</a>
                                                </div>
                                        </div>#}
                                </div>
                        </div>
                </div>
                        <div class="dividing-line">&nbsp;</div>
               

{% endblock %}