{% extends 'KidsSiteBundle::layout.html.twig' %} 
{% block body %}
	<div class="product-wrapper">
					<div class="visual-col">
						<div class="visual">
                                                {% if entity.ratio!='' %}
                                                    <span class="discount">{{ entity.ratio }}%</span>
                                                {% endif %}
                                                    {% if entity.icon is not empty %}
                                                    <img src="{{ vich_uploader_asset(entity, 'iconImage') }}" width="370" height="270" alt="" /></div>
                                                    {% endif %}
                                             {% if images|length > 0 %}
                                                <div class="min-gallery">
							<a class="prev" href="#">prev</a>
							<a class="next" href="#">next</a>
							<div class="gallery-wrap">
								<ul>
                                                                    {% for image in images %}
                                                                        <li>
                                                                            <a href="#">
                                                                                <img src="{{ vich_uploader_asset(image, 'smallImage') }}" width="88" height="64" alt="" />
                                                                            </a>
                                                                        </li>
                                                                    {% endfor %}
                                                                </ul>
							</div>
							<div class="num"><span class="active">1</span> | <span class="total">{{ images|length }}</span></div>
						</div>
                                            {% endif %}
					</div>
					<div class="product-info">
						<header>
							{#<div class="rating-wrap">
								<div class="rating-star"><span style="width:20%;">20%</span></div>
								<span class="reviews">Reviews: 175</span>
							</div>#}
							<h2>{{ entity.title }}</h2>
						</header>
						<section>
							<p>{{ entity.description }}</p>
						</section>
						<footer>
							<div class="row">
								<a href="{{path('main_site_cart_add', {'id':entity.id, 'amount': 1})}}" class="gray-btn add-bag">
                                                                    <span>В корзину<img src="/bundles/kidssite/images/bg-plus.png" width="17" height="17" alt="" /></span>
                                                                </a>
								<a class="add" href="#">Add to Wishlist</a>
								<div class="price">{{ entity.price }} P</div>
							</div>
							<div class="wrap">
								<div class="holder">
									<a class="mail" href="#">email</a>
									<a class="print" href="#">print</a>
								</div>
								<ul class="network">
									<li><img src="/bundles/kidssite/images/bg-network05.jpg" width="84" height="26" alt="" /></li>
									<li><img src="/bundles/kidssite/images/bg-network06.jpg" width="87" height="22" alt="" /></li>
								</ul>
							</div>
						</footer>
					</div>
				</div>
				<div class="tab-wrapper">
					<ul class="tab-set">
						<li class="active"><a href="#">Детали</a></li>
						<li><a href="#">Связаные товары</a></li>
						<li><a href="#">Коментарии</a></li>
					</ul>
					<div class="tab-wrap">
						<div class="tab">
							<div class="tab-content">
								<h3>{{ entity.title }}</h3>
								<div class="item-description">
                                                                    {{ entity.content|raw() }}
								</div>
								<div class="dividing-line">&nbsp;</div>
								<h4>Параметры</h4>
                                                        {% if attributs|length > 0 %}
                                                        <div class="item-description">
                                                            <div class="col">
                                                                {% for attr in attributs%}
                                                                    <h4>{{ attr.name }}:</h4>
                                                                    <ul>
                                                                        {% for val in attrval[attr.id]%}
                                                                            <li>{{ val.value }}</li>
                                                                        {% endfor %}
                                                                    </ul>
                                                                {% endfor %}
                                                            </div>
                                                        </div>
                                                        {% endif %}
                                                    </div>
						</div>
                    <div class="tab" style="display:none;">
                      {% if relatives|length > 0 %}  
                      <div class="tab-gallery">
                                <a class="prev" href="#">prev</a>
                                <a class="next" href="#">next</a>
		
                       <div class="tab-gallery-holder">
                        <ul style="margin-left: 0px;">
                            {% for entity in relatives %}
                                <li>
                                        <h3>{{ entity.title }}</h3>
                                        <p> {{ entity.description }}</p>
                                        <div  class="more"><a href="{{ path('products', { 'translit': entity.translit }) }}">далее</a></div>
                                        <div class="visual">
                                            {% if entity.ratio!='' %}
                                                <span class="discount">{{ entity.ratio }}%</span>
                                            {% endif %}
                                            {% if entity.iconImage is not null %}
                                                <img src = '{{ vich_uploader_asset(entity, 'iconImage') }}' alt="{{ entity.title }}" width="169" height="124"/>
                                            {% else %}
                                                <img src = '{{ entity.smallIcon }}' alt="{{ entity.title }}"  width="169" height="124"/>
                                            {% endif %}
                                        </div>
                                        {#<div class="rating-wrap">
                                                <div class="rating-star"><span style="width:70%;">70%</span></div>
                                                <span class="reviews">Reviews: 175</span>
                                        </div>#}
                                        <div class="price-holder">
                                                <a class="gray-btn" href="{{path('main_site_cart_add', {'id':entity.id, 'amount': 1})}}"><span>В корзину</span></a>
                                                <span class="price">{{ entity.price }} P</span>
                                        </div>
                                </li>
                                
                        {% endfor %}
                        </ul>
                </div>
		</div>
                {% endif %}				
            </div>
						<div class="tab" style="display:none;">
							<div class="tab-content">
								<div class="comment-item">
									<header>
										<h3>Bertoni Monarello</h3>
										<div class="row">
											<div class="visual">
												<img src="/bundles/kidssite/images/img04.jpg" width="164" height="120" alt="image description" />
											</div>
											<div class="center-col">
												<div class="title">AVERAGE CUSTOMER REVIEW</div>
												<div class="rating-wrap">
													<div class="rating-star"><span style="width:70%;">70%</span></div>
													<span class="reviews">Reviews: 175</span>
												</div>
												<div class="btn-title">Share your opinions here....</div>
												<a class="gray-btn add-comment" href="#"><span>Write your own review<img src="images/ico11.png" width="15" height="16" alt="" /></span></a>
											</div>
											<ul class="count-rating">
												<li class="num4">
													<span class="num">5 star</span>
													<div class="view"><span style="width:25%;">25%</span></div>
													<span class="count">(50)</span>
												</li>
												<li class="num5">
													<span class="num">4 star</span>
													<div class="view"><span style="width:50%;">50%</span></div>
													<span class="count">(200)</span>
												</li>
												<li class="num3">
													<span class="num">3 star</span>
													<div class="view"><span style="width:12.5%;">12.5%</span></div>
													<span class="count">(25)</span>
												</li>
												<li class="num2">
													<span class="num">2 star</span>
													<div class="view"><span style="width:7.5%;">7.5%;</span></div>
													<span class="count">(15)</span>
												</li>
												<li class="num1">
													<span class="num">1 star</span>
													<div class="view"><span style="width:5%;">5%</span></div>
													<span class="count">(10)</span>
												</li>
											</ul>
										</div>
									</header>
									<ul class="comment-list">
										<li>
											<div class="hidden-wrap">
												<header>
													<div class="date">17/11/2012</div>
													<div class="title">Best product ever!</div>
													<div class="holder">
														<a class="up" href="#">952</a>
														<a class="down" href="#">52</a>
														<a class="num-comment" href="#">Comments (4)</a>
													</div>
												</header>
												<section>
													<div class="visual shadow"><img src="images/img08.jpg" width="73" height="73" alt="" /></div>
													<div class="wrap">
														<div class="name">By: Blaz Robar</div>
														<p>A really great comment goes here about the product. Either good or bad, whtaever, to help people chose what is best for them based on the experience of others. A really great comment goes here about the product. Either good or bad, whtaever, to help people chose what is best for them based on the experience of others. <a class="opener-more" href="#">read more...</a> <span class="hidden">A really great comment goes here about the product. Either good or bad, whtaever, to help people chose what is best for them based on the experience of others. A really great comment goes here about the product. Either good or bad, whtaever, to help people chose what is best for them based on the experience of others. A really great comment goes here about the product. Either good or bad, whtaever, to help people chose what is best for them based on the experience of others. A really great comment goes here about the product. Either good or bad, whtaever, to help people chose what is best for them based on the experience of others.</span> </p>
													</div>
												</section>
												<ul class="comment-list">
													<li>
														<div class="hidden-wrap">
															<header>
																<div class="date">17/11/2012</div>
																<div class="name">Leo Cross says....</div>
																<div class="holder">
																	<a class="up" href="#">952</a>
																	<a class="down" href="#">52</a>
																</div>
															</header>
															<section>
																<div class="visual shadow"><img src="images/img08.jpg" width="73" height="73" alt="" /></div>
																<div class="wrap">
																	<p>A really great comment goes here about the product. Either good or bad, whtaever, to help people chose what is best for them based on the experience of others. A really great comment goes here about the product. </p>
																</div>
															</section>
														</div>
													</li>
												</ul>
												<form action="#" class="comment-form">
													<fieldset>
														<div class="col">
															<div class="img shadow">
																<img src="/bundles/kidssite/images/img08.jpg" width="73" height="73" alt="" />
															</div>
															<div class="name-wrap">
																<a class="opener-login" href="#"><img src="images/ico01.png" width="14" height="15" alt="" />log-in</a>
															</div>
															<div class="register-wrap">
																Already a user?<br />or
																<a class="opener-register" href="#">Register....</a>
															</div>
															<span class="purple-btn"><span>Add Comment</span><input type="submit" value="Add Comment" title="Add Comment" /></span>
														</div>
														<div class="holder-form">
															<h3>Add Comment</h3>
															<div class="row">
																<label>Name*</label>
																<div class="holder">
																	<label class="input-wrap"><input type="text" /></label>
																</div>
															</div>
															<div class="row">
																<label>Email</label>
																<div class="holder">
																	<label class="input-wrap"><input type="text" /></label>
																</div>
															</div>
															<div class="row">
																<label>Comment*</label>
																<div class="holder">
																	<label class="textarea-wrap"><textarea cols="30" rows="5"></textarea></label>
																</div>
															</div>
															<div class="row">
																<label>&nbsp;</label>
																<div class="holder">
																	<div class="v-log"><a href="#"><img src="images/bg-network08.jpg" width="200" height="63" alt="" /></a></div>
																	<div class="f-log"><a href="#"><img src="images/bg-network07.jpg" width="68" height="22" alt="" /></a></div>
																</div>
															</div>
														</div>
													</fieldset>
												</form>
											</div>
										</li>
										<li>
											<div class="hidden-wrap">
												<header>
													<div class="date">17/11/2012</div>
													<div class="title">Best product ever!</div>
													<div class="holder">
														<a class="up" href="#">952</a>
														<a class="down" href="#">52</a>
														<a class="num-comment" href="#">Comments (4)</a>
													</div>
												</header>
												<section>
													<div class="visual"><img src="images/img09.png" width="74" height="75" alt="" /></div>
													<div class="wrap">
														<div class="name">By: Blaz Robar</div>
														<p>A really great comment goes here about the product. Either good or bad, whtaever, to help people chose what is best for them based on the experience of others. A really great comment goes here about the product. Either good or bad, whtaever, to help people chose what is best for them based on the experience of others. <a class="opener-more" href="#">read more...</a> <span class="hidden">A really great comment goes here about the product. Either good or bad, whtaever, to help people chose what is best for them based on the experience of others. A really great comment goes here about the product. Either good or bad, whtaever, to help people chose what is best for them based on the experience of others. A really great comment goes here about the product. Either good or bad, whtaever, to help people chose what is best for them based on the experience of others. A really great comment goes here about the product. Either good or bad, whtaever, to help people chose what is best for them based on the experience of others.</span> </p>
													</div>
												</section>
												<ul class="comment-list">
													<li>
														<div class="hidden-wrap">
															<header>
																<div class="date">17/11/2012</div>
																<div class="name">Leo Cross says....</div>
																<div class="holder">
																	<a class="up" href="#">952</a>
																	<a class="down" href="#">52</a>
																</div>
															</header>
															<section>
																<div class="visual shadow"><img src="images/img08.jpg" width="73" height="73" alt="" /></div>
																<div class="wrap">
																	<p>A really great comment goes here about the product. Either good or bad, whtaever, to help people chose what is best for them based on the experience of others. A really great comment goes here about the product. </p>
																</div>
															</section>
														</div>
													</li>
													<li>
														<div class="hidden-wrap">
															<header>
																<div class="date">17/11/2012</div>
																<div class="name">Leo Cross says....</div>
																<div class="holder">
																	<a class="up" href="#">952</a>
																	<a class="down" href="#">52</a>
																</div>
															</header>
															<section>
																<div class="visual shadow"><img src="images/img08.jpg" width="73" height="73" alt="" /></div>
																<div class="wrap">
																	<p>A really great comment goes here about the product. Either good or bad, whtaever, to help people chose what is best for them based on the experience of others. A really great comment goes here about the product. </p>
																</div>
															</section>
														</div>
													</li>
												</ul>
												<form action="#" class="comment-form">
													<fieldset>
														<div class="col">
															<div class="img shadow">
																<img src="images/img08.jpg" width="73" height="73" alt="" />
															</div>
															<div class="name-wrap">
																<a class="opener-login" href="#"><img src="images/ico01.png" width="14" height="15" alt="" />log-in</a>
															</div>
															<div class="register-wrap">
																Already a user?<br />or
																<a class="opener-register" href="#">Register....</a>
															</div>
															<span class="purple-btn"><span>Add Comment</span><input type="submit" value="Add Comment" title="Add Comment" /></span>
														</div>
														<div class="holder-form">
															<h3>Add Comment</h3>
															<div class="row">
																<label>Name*</label>
																<div class="holder">
																	<label class="input-wrap"><input type="text" /></label>
																</div>
															</div>
															<div class="row">
																<label>Email</label>
																<div class="holder">
																	<label class="input-wrap"><input type="text" /></label>
																</div>
															</div>
															<div class="row">
																<label>Comment*</label>
																<div class="holder">
																	<label class="textarea-wrap"><textarea cols="30" rows="5"></textarea></label>
																</div>
															</div>
															<div class="row">
																<label>&nbsp;</label>
																<div class="holder">
																	<div class="v-log"><a href="#"><img src="images/bg-network08.jpg" width="200" height="63" alt="" /></a></div>
																	<div class="f-log"><a href="#"><img src="images/bg-network07.jpg" width="68" height="22" alt="" /></a></div>
																</div>
															</div>
														</div>
													</fieldset>
												</form>
											</div>
										</li>
										<li>
											<div class="hidden-wrap">
												<header>
													<div class="date">17/11/2012</div>
													<div class="title">Best product ever!</div>
													<div class="holder">
														<a class="up" href="#">952</a>
														<a class="down" href="#">52</a>
														<a class="num-comment" href="#">Comments (4)</a>
													</div>
												</header>
												<section>
													<div class="visual"><img src="images/bg-comment-img.png" width="74" height="75" alt="" /></div>
													<div class="wrap">
														<div class="name">By: Blaz Robar</div>
														<p>A really great comment goes here about the product. Either good or bad, whtaever, to help people chose what is best for them based on the experience of others. A really great comment goes here about the product. Either good or bad, whtaever, to help people chose what is best for them based on the experience of others. <a class="opener-more" href="#">read more...</a> <span class="hidden">A really great comment goes here about the product. Either good or bad, whtaever, to help people chose what is best for them based on the experience of others. A really great comment goes here about the product. Either good or bad, whtaever, to help people chose what is best for them based on the experience of others. A really great comment goes here about the product. Either good or bad, whtaever, to help people chose what is best for them based on the experience of others. A really great comment goes here about the product. Either good or bad, whtaever, to help people chose what is best for them based on the experience of others.</span> </p>
													</div>
												</section>
												<ul class="comment-list">
													<li>
														<div class="hidden-wrap">
															<header>
																<div class="date">17/11/2012</div>
																<div class="name">Leo Cross says....</div>
																<div class="holder">
																	<a class="up" href="#">952</a>
																	<a class="down" href="#">52</a>
																</div>
															</header>
															<section>
																<div class="visual shadow"><img src="images/img08.jpg" width="73" height="73" alt="" /></div>
																<div class="wrap">
																	<p>A really great comment goes here about the product. Either good or bad, whtaever, to help people chose what is best for them based on the experience of others. A really great comment goes here about the product. </p>
																</div>
															</section>
														</div>
													</li>
													<li>
														<div class="hidden-wrap">
															<header>
																<div class="date">17/11/2012</div>
																<div class="name">Leo Cross says....</div>
																<div class="holder">
																	<a class="up" href="#">952</a>
																	<a class="down" href="#">52</a>
																</div>
															</header>
															<section>
																<div class="visual shadow"><img src="images/img08.jpg" width="73" height="73" alt="" /></div>
																<div class="wrap">
																	<p>A really great comment goes here about the product. Either good or bad, whtaever, to help people chose what is best for them based on the experience of others. A really great comment goes here about the product. </p>
																</div>
															</section>
														</div>
													</li>
													<li>
														<div class="hidden-wrap">
															<header>
																<div class="date">17/11/2012</div>
																<div class="name">Leo Cross says....</div>
																<div class="holder">
																	<a class="up" href="#">952</a>
																	<a class="down" href="#">52</a>
																</div>
															</header>
															<section>
																<div class="visual shadow"><img src="images/img08.jpg" width="73" height="73" alt="" /></div>
																<div class="wrap">
																	<p>A really great comment goes here about the product. Either good or bad, whtaever, to help people chose what is best for them based on the experience of others. A really great comment goes here about the product. </p>
																</div>
															</section>
														</div>
													</li>
												</ul>
												<form action="#" class="comment-form">
													<fieldset>
														<div class="col">
															<div class="img shadow">
																<img src="images/img08.jpg" width="73" height="73" alt="" />
															</div>
															<div class="name-wrap">
																<a class="opener-login" href="#"><img src="images/ico01.png" width="14" height="15" alt="" />log-in</a>
															</div>
															<div class="register-wrap">
																Already a user?<br />or
																<a class="opener-register" href="#">Register....</a>
															</div>
															<span class="purple-btn"><span>Add Comment</span><input type="submit" value="Add Comment" title="Add Comment" /></span>
														</div>
														<div class="holder-form">
															<h3>Add Comment</h3>
															<div class="row">
																<label>Name*</label>
																<div class="holder">
																	<label class="input-wrap"><input type="text" /></label>
																</div>
															</div>
															<div class="row">
																<label>Email</label>
																<div class="holder">
																	<label class="input-wrap"><input type="text" /></label>
																</div>
															</div>
															<div class="row">
																<label>Comment*</label>
																<div class="holder">
																	<label class="textarea-wrap"><textarea cols="30" rows="5"></textarea></label>
																</div>
															</div>
															<div class="row">
																<label>&nbsp;</label>
																<div class="holder">
																	<div class="v-log"><a href="#"><img src="images/bg-network08.jpg" width="200" height="63" alt="" /></a></div>
																	<div class="f-log"><a href="#"><img src="images/bg-network07.jpg" width="68" height="22" alt="" /></a></div>
																</div>
															</div>
														</div>
													</fieldset>
												</form>
											</div>
										</li>
										<li class="active">
											<div class="hidden-wrap">
												<header>
													<div class="date">17/11/2012</div>
													<div class="title">Best product ever!</div>
													<div class="holder">
														<a class="up" href="#">952</a>
														<a class="down" href="#">52</a>
														<a class="num-comment" href="#">Comments (4)</a>
													</div>
												</header>
												<section>
													<div class="visual shadow"><img src="images/img10.png" width="73" height="73" alt="" /></div>
													<div class="wrap">
														<div class="name">By: Blaz Robar</div>
														<p>A really great comment goes here about the product. Either good or bad, whtaever, to help people chose what is best for them based on the experience of others. A really great comment goes here about the product. Either good or bad, whtaever, to help people chose what is best for them based on the experience of others. <a class="opener-more" href="#">read more...</a> <span class="hidden">A really great comment goes here about the product. Either good or bad, whtaever, to help people chose what is best for them based on the experience of others. A really great comment goes here about the product. Either good or bad, whtaever, to help people chose what is best for them based on the experience of others. A really great comment goes here about the product. Either good or bad, whtaever, to help people chose what is best for them based on the experience of others. A really great comment goes here about the product. Either good or bad, whtaever, to help people chose what is best for them based on the experience of others.</span> </p>
													</div>
												</section>
												<ul class="comment-list">
													<li>
														<div class="hidden-wrap">
															<header>
																<div class="date">17/11/2012</div>
																<div class="name">Leo Cross says....</div>
																<div class="holder">
																	<a class="up" href="#">952</a>
																	<a class="down" href="#">52</a>
																</div>
															</header>
															<section>
																<div class="visual shadow"><img src="images/img08.jpg" width="73" height="73" alt="" /></div>
																<div class="wrap">
																	<p>A really great comment goes here about the product. Either good or bad, whtaever, to help people chose what is best for them based on the experience of others. A really great comment goes here about the product. </p>
																</div>
															</section>
														</div>
													</li>
												</ul>
												<form action="#" class="comment-form">
													<fieldset>
														<div class="col">
															<div class="img shadow">
																<img src="images/img08.jpg" width="73" height="73" alt="" />
															</div>
															<div class="name-wrap">
																<a class="opener-login" href="#"><img src="images/ico01.png" width="14" height="15" alt="" />log-in</a>
															</div>
															<div class="register-wrap">
																Already a user?<br />or
																<a class="opener-register" href="#">Register....</a>
															</div>
															<span class="purple-btn"><span>Add Comment</span><input type="submit" value="Add Comment" title="Add Comment" /></span>
														</div>
														<div class="holder-form">
															<h3>Add Comment</h3>
															<div class="row">
																<label>Name*</label>
																<div class="holder">
																	<label class="input-wrap"><input type="text" /></label>
																</div>
															</div>
															<div class="row">
																<label>Email</label>
																<div class="holder">
																	<label class="input-wrap"><input type="text" /></label>
																</div>
															</div>
															<div class="row">
																<label>Comment*</label>
																<div class="holder">
																	<label class="textarea-wrap"><textarea cols="30" rows="5"></textarea></label>
																</div>
															</div>
															<div class="row">
																<label>&nbsp;</label>
																<div class="holder">
																	<div class="v-log"><a href="#"><img src="images/bg-network08.jpg" width="200" height="63" alt="" /></a></div>
																	<div class="f-log"><a href="#"><img src="images/bg-network07.jpg" width="68" height="22" alt="" /></a></div>
																</div>
															</div>
														</div>
													</fieldset>
												</form>
											</div>
										</li>
										<li class="active-form active">
											<div class="hidden-wrap">
												<header>
													<div class="date">17/11/2012</div>
													<div class="title">Best product ever!</div>
													<div class="holder">
														<a class="up" href="#">952</a>
														<a class="down" href="#">52</a>
														<a class="num-comment" href="#">Comments (4)</a>
													</div>
												</header>
												<section>
													<div class="visual shadow"><img src="images/img11.png" width="73" height="73" alt="" /></div>
													<div class="wrap">
														<div class="name">By: Blaz Robar</div>
														<p>A really great comment goes here about the product. Either good or bad, whtaever, to help people chose what is best for them based on the experience of others. A really great comment goes here about the product. Either good or bad, whtaever, to help people chose what is best for them based on the experience of others. <a class="opener-more" href="#">read more...</a> <span class="hidden">A really great comment goes here about the product. Either good or bad, whtaever, to help people chose what is best for them based on the experience of others. A really great comment goes here about the product. Either good or bad, whtaever, to help people chose what is best for them based on the experience of others. A really great comment goes here about the product. Either good or bad, whtaever, to help people chose what is best for them based on the experience of others. A really great comment goes here about the product. Either good or bad, whtaever, to help people chose what is best for them based on the experience of others.</span> </p>
													</div>
												</section>
												<form action="#" class="comment-form">
													<fieldset>
														<div class="col">
															<div class="img shadow">
																<img src="images/img08.jpg" width="73" height="73" alt="" />
															</div>
															<div class="name-wrap">
																<a class="opener-login" href="#"><img src="images/ico01.png" width="14" height="15" alt="" />log-in</a>
															</div>
															<div class="register-wrap">
																Already a user?<br />or
																<a class="opener-register" href="#">Register....</a>
															</div>
															<span class="purple-btn"><span>Add Comment</span><input type="submit" value="Add Comment" title="Add Comment" /></span>
														</div>
														<div class="holder-form">
															<h3>Add Comment</h3>
															<div class="row">
																<label>Name*</label>
																<div class="holder">
																	<label class="input-wrap"><input type="text" /></label>
																</div>
															</div>
															<div class="row">
																<label>Email</label>
																<div class="holder">
																	<label class="input-wrap"><input type="text" /></label>
																</div>
															</div>
															<div class="row">
																<label>Comment*</label>
																<div class="holder">
																	<label class="textarea-wrap"><textarea cols="30" rows="5"></textarea></label>
																</div>
															</div>
															<div class="row">
																<label>&nbsp;</label>
																<div class="holder">
																	<div class="v-log"><a href="#"><img src="images/bg-network08.jpg" width="200" height="63" alt="" /></a></div>
																	<div class="f-log"><a href="#"><img src="images/bg-network07.jpg" width="68" height="22" alt="" /></a></div>
																</div>
															</div>
														</div>
													</fieldset>
												</form>
											</div>
										</li>
										<li class="active-form active">
											<div class="hidden-wrap">
												<header>
													<div class="date">17/11/2012</div>
													<div class="title">Best product ever!</div>
													<div class="holder">
														<a class="up" href="#">952</a>
														<a class="down" href="#">52</a>
														<a class="num-comment" href="#">Comments (4)</a>
													</div>
												</header>
												<section>
													<div class="visual shadow"><img src="images/img11.png" width="73" height="73" alt="" /></div>
													<div class="wrap">
														<div class="name">By: Blaz Robar</div>
														<p>A really great comment goes here about the product. Either good or bad, whtaever, to help people chose what is best for them based on the experience of others. A really great comment goes here about the product. Either good or bad, whtaever, to help people chose what is best for them based on the experience of others. <a class="opener-more" href="#">read more...</a> <span class="hidden">A really great comment goes here about the product. Either good or bad, whtaever, to help people chose what is best for them based on the experience of others. A really great comment goes here about the product. Either good or bad, whtaever, to help people chose what is best for them based on the experience of others. A really great comment goes here about the product. Either good or bad, whtaever, to help people chose what is best for them based on the experience of others. A really great comment goes here about the product. Either good or bad, whtaever, to help people chose what is best for them based on the experience of others.</span> </p>
													</div>
												</section>
												<ul class="comment-list">
													<li>
														<div class="hidden-wrap">
															<header>
																<div class="date">17/11/2012</div>
																<div class="name">Leo Cross says....</div>
																<div class="holder">
																	<a class="up" href="#">952</a>
																	<a class="down" href="#">52</a>
																</div>
															</header>
															<section>
																<div class="visual shadow"><img src="images/img08.jpg" width="73" height="73" alt="" /></div>
																<div class="wrap">
																	<p>A really great comment goes here about the product. Either good or bad, whtaever, to help people chose what is best for them based on the experience of others. A really great comment goes here about the product. </p>
																</div>
															</section>
														</div>
													</li>
													<li>
														<div class="hidden-wrap">
															<header>
																<div class="date">17/11/2012</div>
																<div class="name">Leo Cross says....</div>
																<div class="holder">
																	<a class="up" href="#">952</a>
																	<a class="down" href="#">52</a>
																</div>
															</header>
															<section>
																<div class="visual shadow"><img src="images/img08.jpg" width="73" height="73" alt="" /></div>
																<div class="wrap">
																	<p>A really great comment goes here about the product. Either good or bad, whtaever, to help people chose what is best for them based on the experience of others. A really great comment goes here about the product. </p>
																</div>
															</section>
														</div>
													</li>
													<li>
														<div class="hidden-wrap">
															<header>
																<div class="date">17/11/2012</div>
																<div class="name">Leo Cross says....</div>
																<div class="holder">
																	<a class="up" href="#">952</a>
																	<a class="down" href="#">52</a>
																</div>
															</header>
															<section>
																<div class="visual shadow"><img src="images/img08.jpg" width="73" height="73" alt="" /></div>
																<div class="wrap">
																	<p>A really great comment goes here about the product. Either good or bad, whtaever, to help people chose what is best for them based on the experience of others. A really great comment goes here about the product. </p>
																</div>
															</section>
														</div>
													</li>
												</ul>
												<form action="#" class="comment-form">
													<fieldset>
														<div class="col">
															<div class="img shadow">
																<img src="images/img08.jpg" width="73" height="73" alt="" />
															</div>
															<div class="name-wrap">
																<a class="opener-login" href="#"><img src="images/ico01.png" width="14" height="15" alt="" />log-in</a>
															</div>
															<div class="register-wrap">
																Already a user?<br />or
																<a class="opener-register" href="#">Register....</a>
															</div>
															<span class="purple-btn"><span>Add Comment</span><input type="submit" value="Add Comment" title="Add Comment" /></span>
														</div>
														<div class="holder-form">
															<h3>Add Comment</h3>
															<div class="row">
																<label>Name*</label>
																<div class="holder">
																	<label class="input-wrap"><input type="text" /></label>
																</div>
															</div>
															<div class="row">
																<label>Email</label>
																<div class="holder">
																	<label class="input-wrap"><input type="text" /></label>
																</div>
															</div>
															<div class="row">
																<label>Comment*</label>
																<div class="holder">
																	<label class="textarea-wrap"><textarea cols="30" rows="5"></textarea></label>
																</div>
															</div>
															<div class="row">
																<label>&nbsp;</label>
																<div class="holder">
																	<div class="v-log"><a href="#"><img src="images/bg-network08.jpg" width="200" height="63" alt="" /></a></div>
																	<div class="f-log"><a href="#"><img src="images/bg-network07.jpg" width="68" height="22" alt="" /></a></div>
																</div>
															</div>
														</div>
													</fieldset>
												</form>
											</div>
										</li>
									</ul>
									<form action="#" class="comment-form">
										<fieldset>
											<div class="col">
												<div class="img shadow">
													<img src="images/img08.jpg" width="73" height="73" alt="" />
												</div>
												<div class="name-wrap">
													<a class="opener-login" href="#"><img src="images/ico01.png" width="14" height="15" alt="" />log-in</a>
												</div>
												<div class="register-wrap">
													Already a user?<br />or
													<a class="opener-register" href="#">Register....</a>
												</div>
												<span class="purple-btn"><span>Add Review</span><input type="submit" value="Add Comment" title="Add Comment" /></span>
											</div>
											<div class="holder-form">
												<h3>Add New Review</h3>
												<div class="row">
													<label>Name*</label>
													<div class="holder">
														<label class="input-wrap"><input type="text" /></label>
													</div>
												</div>
												<div class="row">
													<label>Email</label>
													<div class="holder">
														<label class="input-wrap"><input type="text" /></label>
													</div>
												</div>
												<div class="row">
													<label>Comment*</label>
													<div class="holder">
														<label class="textarea-wrap"><textarea cols="30" rows="5"></textarea></label>
													</div>
												</div>
												<div class="row">
													<label>&nbsp;</label>
													<div class="holder">
														<div class="v-log"><a href="#"><img src="images/bg-network08.jpg" width="200" height="63" alt="" /></a></div>
														<div class="f-log"><a href="#"><img src="images/bg-network07.jpg" width="68" height="22" alt="" /></a></div>
													</div>
												</div>
											</div>
										</fieldset>
									</form>
								</div>
							</div>
							<div class="tab-paging">
								<div class="paging-wrap">
									<a class="prev" href="#">&lt;</a>
									<a href="#">1</a>
									<a class="active" href="#">2</a>
									<a href="#">3</a>
									<a href="#">4</a>
									<a href="#">5</a>
									<a class="next active" href="#">&gt;</a>
								</div>
							</div>
						</div>
					</div>
				</div>
				<footer>
					<div class="dividing-line">&nbsp;</div>
					<div class="main-network-wrap">
						<div class="wrap"><img src="images/bg-network03.jpg" width="47" height="61" alt="" /></div>
						<div class="wrap"><img src="images/bg-network04.jpg" width="439" height="69" alt="" /></div>
					</div>
					<div class="dividing-line">&nbsp;</div>
					<form action="#" class="subscribe-form">
						<fieldset>
							Subscribe to our Newsletter
							<div class="wrap">
								<input class="text" type="text" value="enter your email address" />
								<span class="btn">Email me<input type="submit" value="" title="Email me" /></span>
							</div>
						</fieldset>
					</form>
					<div class="dividing-line">&nbsp;</div>
					<ul class="bottom-nav">
						<li>
							<h4>Shopping with us</h4>
							<ul>
								<li><a href="#">shipping &amp; costs</a></li>
								<li><a href="#">payment options</a></li>
								<li><a href="#">returns policy</a></li>
							</ul>
						</li>
						<li>
							<h4>Your order</h4>
							<ul>
								<li><a href="#">track your order</a></li>
								<li><a href="#">order status</a></li>
								<li><a href="#">returns policy</a></li>
							</ul>
						</li>
						<li>
							<h4>Useful information</h4>
							<ul>
								<li><a href="#">FAQ</a></li>
								<li><a href="#">contact</a></li>
							</ul>
						</li>
						<li>
							<h4>About us</h4>
							<ul>
								<li><a href="#">who we are</a></li>
								<li><a href="#">press &amp; media</a></li>
								<li><a href="#">careers</a></li>
							</ul>
						</li>
					</ul>
					<div class="dividing-line">&nbsp;</div>
					<div class="copyright">&copy; 2013 Bobi store a.s.</div>
				</footer>





{#<div class="col-main">
    <div class="product-view">
        <div class="product-essential">
            <div id="product_addtocart_form">
                <div class="product-shop">
                    <div class="product-name">
                        <h1>
                            {% if entity.article!='' %}
                                <span style="float:right; font-size:12px;">
                                    Артикул: {{ entity.article }}
                                </span>
                            {% endif %}
                        </h1>
                            <br />
                        {% if entity.count!='' %}
                            <span style="float:left; font-size:12px;font-weight: bold; color:greenyellow">В наличие</span>
                            {% else %}
                            <span style="float:left; font-size:12px; font-weight: bold; color:red">Под заказ</span>
                        {% endif %}
                            <br />
                            <br />
                    </div>
                    <div class="short-description">
                        <div class="std">
                            {{ entity.description|raw() }}
                        </div>
                            <p class="availability in-stock"><span></span></p>
                            <div class="add-to-box">
                                <div class="add-to-cart">
                                    <div class="price-box">
                                        <span id="product-price-14" class="regular-price">
                                            <span class="price">{{ entity.price }} грн.</span>
                                        </span>
                                    </div>
                                    <label for="qty">Кол:</label>
                                    <input id="qty" class="input-text qty" type="text" title="Qty" value="1" maxlength="12" name="qty">
                                    <a href="{{path('main_site_cart_add', {'id':entity.id, 'amount': 1})}}"><button class="button btn-cart" title="Add to Cart" type="button">
                                        <span>
                                            <span>В корзину</span>
                                        </span>
                                    </button>
                                    </a>
                                </div>
                            </div>
                    </div>
                </div>
                    <div class="product-img-box">
                        <div class="zoom-inner">
                            <div class="product-image"> 
                              <div id="wrap" style="top:0px;z-index:98;position:relative;">
                                <a id="" class="fancybox" rel="1" href="{{ vich_uploader_asset(entity, 'iconImage') }}" style="position: relative; display: block;">
                                    <img src = '{{ vich_uploader_asset(entity, 'iconImage') }}' width="298px" height="298px"/>
                                </a>
                               </div>
                            </div>
                                {% if images|length > 0 %}
                                <div class="more-views" id="slider_in_tov">
                                    <ul>
                                        {% for image in images %}
                                            <li>
                                                <a class="fancybox" rel="1" title="" href="{{ vich_uploader_asset(image, 'image') }}">
                                                    <img alt="" width="91px" height="91px" src="{{ vich_uploader_asset(image, 'smallImage') }}" />
                                                </a>
                                            </li>
                                        {% endfor %}
                                    </ul>
                                        <br />
                                </div> 
                             {% endif %}
                        </div>
                    </div>
                    <div class="clearer"></div>
                    
            </div>
        </div>
            {% if keywords|length > 0 %}
            <div class="box-collateral box-up-sell ">
                <h2>Ключевые слова</h2>
                    {% for keyword in keywords %}
                        <a href="{{ path('product_tag',{'keyword' : keyword.translit }) }}">{{ keyword.keyword }},
                    {% endfor %}
            </div>
            <br />
            {% endif %}
            <div class="product-collateral">
                <div class="padder">
                    <div id="product_tabs_description_tabbed_contents">
                        <div class="std">
                            {{ entity.content|raw() }}
                        </div>
                    </div>
                </div>
            </div> 
    </div>
        
      {% if relatives|length > 0 %}  
        <div class="box-collateral box-up-sell ">
            <h2>Связанные товары</h2>
             
            <ul class="products-ups">
                {% for relative in relatives%}
                    {% if loop.index<4 %}
                <li class="item">
                    <div class="product-box">
                        <a class="product-image" title="{{ relative.title }}" href="{{path('product', {'translit': relative.translit})}}">
                            <img width="184" height="184" alt="{{ relative.title }}" src="{{ vich_uploader_asset(relative, 'iconImage') }}" />
                        </a>
                        <h3 class="product-name" style="height: 42px;">
                            <a title="{{ relative.title }}" href="{{path('product', {'translit': relative.translit})}}">
                                {{ relative.title }}
                            </a>
                        </h3>
                        <div class="price-box">
                            <span id="product-price-56-upsell" class="regular-price">
                                <span class="price">{{ relative.price }} грн.</span>
                            </span>
                        </div>
                        <p class="no-rating">
                        </p>
                    </div>
                </li>
                    {% endif %}
            {% endfor %}
            </ul>
        </div>
        {% endif %}
</div>#}


{% endblock %}