


<div class="side-panel">
        <span class="num">{{ col }}</span>
        <div class="total-wrap">
                <strong class="name">Корзина</strong>
                <span class="total">Всего: {{ sum }}</span>
        </div>
        <ul class="menu">
                <li>
                    {% if user!='' %}
                        <a class="opener-account" href="#">
                            <img width="14" height="15" alt="" src="/bundles/kidssite/images/ico01.png">
                            аккаунт
                        </a>
                    {% else %}
                    <a class="opener-login" href="#"><img src="/bundles/kidssite/images/ico01.png" width="14" height="15" alt="" />Войти</a>
                    {% endif %}
                </li>
                <li><a href="{{ path('cart') }}"><img src="/bundles/kidssite/images/ico02.png" width="17" height="13" alt="" />Оплатить</a></li>
                <li><a class="opener-view" href="#"><img src="/bundles/kidssite/images/ico03.png" width="12" height="14" alt="" />Посмотреть</a></li>
        </ul>
                    {% if user!='' %}
                        <em class="register-row">
                            Привет:
                            <a href="{{ path('usercabinet') }}">{{ user.fio }}</a>
                        </em>
                    {% else %}
                     <em class="register-row">
                         <a class="opener-register" href="{{ path('registration') }}">Зарегестрироваться</a>
                     </em>
                    {% endif %}
        <ul class="account-drop">
                <li><a href="{{ path('cart') }}">Bobi корзина</a></li>
                <li><a href="{{ path('usercabinet') }}">Личный кабинет</a></li>
                <li><a href="{{ path('wish_list') }}">Желания</a></li>
                <li><a href="{{ path('user_orders') }}">Заказы</a></li>
                <li><a href="{{ path('user_own_comments') }}">Просмотр</a></li>
                <li><a href="/logout?_target_path=/index">Выход</a></li>
        </ul>
</div>
  
<div class="min-basket">
        <header><span>Корзина...</span></header>
        <table>
            {% for product in products %}
                <tr>
                        <td>
                            <div class="visual">
                                {% if product.icon is not empty %}
                                    <img src="{{ vich_uploader_asset(product, 'iconImage') }}" width="46" height="46" alt="" />
                                {% endif %}
                            </div>
                        </td>
                        <td>
                                <div class="name">{{ product.title }}</div>
                                <div></div>
                                <div>{{ cart[product.id].amount }} x  <span class="rouble">i</span> {{ product.price }}</div>
                        </td>
                        <td><a class="del" href="{{ path('remove_cart_item', {'id': product.id}) }}">Удалить</a></td>
                        <td>
                                <div class="price">P {{ (product.price*cart[product.id].amount)|number_format(2, ',', '.') }}</div>
                        </td>
                </tr>
            {% endfor %}
        </table>
        <footer>
                <span class="total">Итого : <span> <span class="rouble">i</span> {{ sum|number_format(2, ',', '.') }}</span></span>
                <a class="btn" href="{{ path('customer') }}">Заказать</a>
        </footer>
</div>